.title {
  margin: 100px 0 30px;
  font-size: 50px;
  color: maroon;
  text-transform: uppercase;
  text-align: center;
}
.clock {
  width: 700px;
  height: 300px;
  margin: auto;
  border-radius: 10px;
  background-color: rgb(17, 19, 19);
  box-shadow: 0 0 5px brown;
}
.time,
.date {
  text-align: center;
  padding-top: 50px;
  font-size: 40px;
  color: #fff;
}
